<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

  <context:component-scan base-package="ru.kutepov"/>

  <mvc:resources mapping="/resources/**" location="pages"/>

  <mvc:annotation-driven/>

  <bean id="databaseUrl" class="java.lang.String">
    <constructor-arg index="0" value="jdbc:sqlite:equity.db" />
  </bean>

  <bean id="connectionSource" class="com.j256.ormlite.jdbc.JdbcConnectionSource" init-method="initialize">
    <property name="url" ref="databaseUrl" />
  </bean>

  <!-- DAO -->
  <bean id="assetTypeDAO" class="ru.kutepov.db.dao.AssetTypeDAO">
    <constructor-arg index="0" ref="connectionSource"/>
    <constructor-arg index="1" value="ru.kutepov.db.entity.AssetType"/>
  </bean>

  <bean id="liabilityTypeDAO" class="ru.kutepov.db.dao.LiabilityTypeDAO">
    <constructor-arg index="0" ref="connectionSource"/>
    <constructor-arg index="1" value="ru.kutepov.db.entity.LiabilityType"/>
  </bean>

  <!--Инициализация базы данных-->
  <bean id="init" class="ru.kutepov.db.Init" init-method="init"/>

</beans>